body{
    background-image: url(../images/matrix.jpg);
}
.contenedor{
    
    width: 1024px;
    border: solid black 1px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5px;
    overflow: auto;
    
}
h1,h2{
    text-align: center;
}
h4{
    text-align: center;
}
.desarrollo.pre{
    overflow: auto;
}
.desarrollo{
    width: 1024px;
    border: solid black 1px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5px;
    overflow: auto;
}

/*ejercicio 3*/

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
}
td{
    border: 1px solid black;
    text-align: center;
}
th{
    border: 1px solid black;
    text-align: center;
}

/* ejercicio 4 */

.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.texto>div:first-child {
    color:green;
}
.texto>div:nth-child(3n) {
    color:red;
}

/*Ejercicio 5*/
*{box-sizing:border-box;}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:200px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="number"],
form input[type="password"]{
	width:180px;
	padding:3px 5px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:2px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:4px 4px;
	margin-top:10px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:60px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:2px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
.centrado{
    text-align: center;
}
img{
    display: block;
    width: 700px;
    margin: auto;
}
.arbol{
    
    margin: auto 400px auto;
}